-----FILE: index
{% import 'utils' as util %}
<ul>{% for i in items %}
  {{ util.item(i.name, i.link) }}
{% endfor %}</ul>
-----FILE: utils
{% macro item(name, link) %}
  <li><a href="{{ link }}">{{ name }}</a></li>
{% endmacro %}



-----INPUT: index
{{ items: [
    { link: "link1", name: "name1" },
    { link: "link2", name: "name2" },
    { link: "link3", name: "name3" },
] }}
-----OUTPUT: index
<ul>
  <li><a href="link1">name1</a></li>
  <li><a href="link2">name2</a></li>
  <li><a href="link3">name3</a></li>
</ul>



-----FILE: index2
{% set foo = 10 %}
{% macro test(ctx) %}
  works: {{ ctx.foo }}
{% endmacro %}
{{ _self.test({ foo: foo }) }}
-----OUTPUT: index2
works: 10



-----FILE: index3
{% from 'utils' import item %}
{{ item('foo', 'bar') }}
-----OUTPUT: index3
<li><a href="bar">foo</a></li>



-----FILE: index4
{% from 'utils' import item as someName, item as someOtherName %}
{{ someName('foo', 'bar') }}
{{ someOtherName('bar', 'foo') }}
-----OUTPUT: index4
<li><a href="bar">foo</a></li>
<li><a href="foo">bar</a></li>



-----FILE: defaults
{% macro test(foo, bar = 5, baz = bar + 7, x = 3 * baz) %}
  {{ foo }}, {{ bar }}, {{ baz }}, {{ x }}
{% endmacro %}
{% macro join(sep = ",") -%}
  {{ varargs | join(sep) }}
{%- endmacro %}
{{ _self.test(1) }}
{{ _self.test(1, 2) }}
{{ _self.test(1, 2, 3) }}
{{ _self.test(1, 2, 3, 4) }}
join: {{ _self.join() }}
join: {{ _self.join("/") }}
join: {{ _self.join("/", 1) }}
join: {{ _self.join("/", 1, 2, "trei") }}
-----OUTPUT: defaults
1, 5, 12, 36
1, 2, 9, 27
1, 2, 3, 9
1, 2, 3, 4
join:
join:
join: 1
join: 1/2/trei
